body {
	font: 400 14px/1.8 Montserrat, sans-serif;
	color: #6b6b6b;
}

h1 {
	color: #f6f6f6;
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 1.5em;
}

h3 {
	font-size: 24px;
	font-weight: 600;
	color: #4d4d4d;
}

h5 {
	font-size: 18px;
	color: #4d4d4d;
}

a {
	color: #00bfb6;
}

a:hover {
	color: #0081b5;
	text-decoration: none;
}

p {
	font-family: 'Open Sans', sans-serif;
}

.container {
	padding: 80px 120px;
}

.parallax { 
	background-image: url("../img/main-bg.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.btn {
	padding: 10px 3em;
	background-color: #0081b5;
	color: #f6f6f6;
	border-radius: 0;
	transition: .3s;
	position: relative;
	animation-iteration-count: infinite;
}

.btn:after {
	position: absolute;
	content: '↓';
	color: #0081b5;
	opacity: 0;
	top: -0.5em;
	right: 20px;
	transition: 0.3s;
}

.btn:hover, .btn:focus {
	border: 1px solid #0081b5;
	background-color: #f6f6f6;
	color: #0081b5;
}

.btn:hover:after {
	opacity: 1;
	top: 0.5em;
}

.navbar {
	text-align: center;
	font-size: 16px !important;
	font-weight: 600;
	padding: 0;
	height: 4em;
	background: #ffffff;
}

.navbar ul {
	height: 100%;
}

.navbar li {
	margin: 0;
	width: 6em;
}

.navbar li a {
	height: 100%;
	padding-left: 1em;
	padding-right: 1em;
	line-height: 3em;
	color: #00b5ad !important;
	text-decoration: none;
}

.navbar-nav li a:hover {
	color: #0081b5 !important;
	background-color: #f6f6f6 !important;
	border-bottom: 0;
}

.navbar-nav .active {
	color: #0081b5 !important;
	background-color: #f6f6f6 !important;
	border-bottom: 1px solid;
}

.link {
	display: inline-block;
	position: relative;
	color: #00bfb6;
	cursor: pointer;
}

.link:hover {
	color: #0081b5;
}

.link:after {
	display: block;
	content: '';
	width: 0;
	height: 1px;
	background-color: #0081b5;
	transition: 0.3s ease;
}

.link:hover:after {
	width: 100%;
}

.hidden {
	display: none;
}

.title {
	background-color: #00b5ad;
	color: #ffffff;
}

.content h1 {
	margin-bottom: 0.8em;
}

.contents p {
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.5px;
}

.bg-1 {
	background-color: #e8f0ff;
}

#demo h1 {
	color: #6b6b6b;
}

.uploader {
	border: none;
	padding: 0;
	margin-top: 1em;
	background-color: transparent;
	cursor: pointer;
}

.uploader:focus {
	background-color: transparent;
	cursor: pointer;
}

.hate {
	font-weight: 600;
	color: #9e0303;
}

.not-hate {
	font-weight: 600;
	color: #085edd;
}

footer {
	background-color: #2d2d2d;
	color: #f5f5f5;
	padding: 1em;
}

footer a {
	color: #f5f5f5;
}

footer a:hover {
	color: #777;
	text-decoration: none;
}

textarea {
	resize: none;
}