<!--ABOUT PAGE-->
<div class="jumbotron">
    <h1>Tentang Kami</h1>
    <p>Kami adalah mahasiswa biasa yang terjebak dalam tugas besar ini. 
       Jika ada komentar, saran
       ataupun kritik yang ingin disampaikan silahkan dipendamkan dalam hati anda dikarenakan kami tidak memberikan alamat yang dapat anda hubungi.
       Sehingga akhir kata yang ingin kami sampaikan. Terima kasih.</p><br />
</div>  

<div class="container text-center">
    <div class="row">
        <div class="col-sm-4 col-lg-4">
            <img src=@Url.Content("~/Content/img/Taufic.jpg") class="img-circle" alt="" width="255" heigth="255" />
            <h3>Taufic Leonardo Sutejo</h3>
            <p>13514022</p>
            <p>front-end developer</p>
        </div>
        <div class="col-sm-4 col-lg-4">
            <img src=@Url.Content("~/Content/img/nino.jpg") class="img-circle" alt="" width="255" heigth="255" />
            <h3>Martino Christanto Khuangga</h3>
            <p>13514084</p>
            <p>back-end developer</p>
        </div>
        <div class="col-sm-4 col-lg-4">
            <img src=@Url.Content("~/Content/img/reifi.jpg") class="img-circle" alt="" width="255" heigth="255" />
            <h3>Muhammad Reifiza</h3>
            <p>13514103</p>
            <p>KMP and BM developer</p>
        </div>
    </div>
</div>
